<!-- Seção de Produtos -->
<section>
  <h2>
    Produto selecionado:
    @if (produtoSelecionado()) {
      <strong style="color: #04f935">{{ produtoSelecionado() }}</strong>
    } @else {
      <span style="color: rgb(0, 0, 0)">Nenhum</span>
    }
  </h2>

  @for (item of produtos(); track item.nome) {
    <app-produto
      [nome]="item.nome"
      [preco]="item.preco"
      (produtoSelecionado)="exibirProduto($event)"
    ></app-produto>
  }

  <p><button (click)="adicionarProduto()">Adicionar Produto</button></p>

  <h2>Total de produtos: {{ totalProdutos() }}</h2>

  <h3>Valor total: R$ {{ valorTotal() }}</h3>

  <p><button (click)="substituirProdutos()">Substituir Lista</button></p>

  @for (item of produtos(); track $index) {
    <app-produto
      -
      produto
      [nome]="item.nome"
      [preco]="item.preco"
      (
      produtoSelecionado
      )=" exibirProduto ($event)"
    ></app-produto>

    <p><button (click)="adicionarAoCarrinho(item)">Adicionar ao Carrinho</button></p>
  }

  <hr />
</section>

<!-- Seção do Carrinho-->
<section>
  <h2>Carrinho:</h2>

  @for (item of carrinho(); track $index) {
    <p>{{ item.nome }} - R$ {{ item.preco.toFixed(2) }}</p>
  }

  <p><strong>Itens no carrinho:</strong> {{ quantidadeCarrinho() }}</p>
  <p><strong>Total do Carrinho:</strong> R$ {{ totalCarrinho().toFixed(2) }}</p>
</section>
